

.OmMig-Header {
  height: 10rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;

  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.OmMig-Page {
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  font-family: "Comic Neue", cursive;
  font-style: normal;
}

.OmMig-Text {
  width: 48%;
  .h3 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.AboutMe-Img, .AboutMe-Img2 {

  position: relative;
  overflow: hidden;
  width: 48%;

  img {
    display: flex;
    border-radius: 1.25rem;
    height: 46rem;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 30% 30%;
  }
}


.KontaktaMig-Page {
  min-height: 54rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  margin-bottom: 6rem;

  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.KontaktaMig-Text {
  width: 48%;
  .h3 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  p {
    font-size: 1.2rem;
  }
}
.KontaktaMig-Telefon, .KontaktaMig-Mejl, .KontaktaMig-Instagram {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  border-bottom: 2px solid black;
}


.Bokning-Page {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.Bokning-Page p {
  font-size: 1.6rem;
  line-height: 1;
}

.Bokning-Page h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {

  .AboutMe-Img, .AboutMe-Img2 {

  img {
    display: flex;
    border-radius: 1.25rem;
    height: 34rem;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 45% 55%;
  }
}

  .AboutMePage {
    display: grid;
    grid-template-columns: 1fr;
  }

  .OmMig-Page {
    height: 74rem;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .OmMig-Text {
    margin-top: 2rem;
    width: 100%;
  }

  .AboutMe-Img {
    width: 100%;
  }

  .KontaktaMig-Page {
    display: grid;
    height: 54rem;
    grid-template-columns: 1fr;
    margin-top: 8rem;
    margin-bottom: 14rem;
  }

  .AboutMe-Img2 {
    order: 2;
    width: 100%;
  }

  .KontaktaMig-Text {
    order: 1;
    width: 100%;
  }


}