
.AboutMePage {
  min-height: 110vh;
}

.OmMig-Header {
  min-height: 15vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.OmMig-Page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  margin-bottom: 4rem;
}

.OmMig-Text {
  width: 48%;
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.AboutMe-Img, .AboutMe-Img2 {
  img {
    display: flex;
    border-radius: 1.25rem;
    min-height: 35rem;
    max-height: 48rem;
    width: 100%;
    object-fit: cover;
  }
}


.KontaktaMig-Page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  margin-bottom: 6rem;
}

.KontaktaMig-Text {
  width: 48%;
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
}
.KontaktaMig-Telefon, .KontaktaMig-Mejl, .KontaktaMig-Instagram {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  border-bottom: 2px solid black;
}


.Bokning-Page {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.Bokning-Page p {
  font-size: 1.6rem;
  line-height: 1;
}

.Bokning-Page h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .AboutMePage {
    display: grid;
    grid-template-columns: 1fr;
  }

  .OmMig-Page {
    height: 115vh;
    display: grid;
    width: 100%;
    min-width: 100%;
  }

  .OmMig-Text {
    margin-top: 2rem;
    width: 100%;
  }

  .AboutMe-Img {
    width: 100%;
  }

  .KontaktaMig-Page {
    display: grid;
    min-height: 110vh;
    grid-template-columns: 1fr;
    margin-top: 20rem;
    margin-bottom: 14rem;
  }

  .AboutMe-Img2 {
    order: 2;
  }

  .KontaktaMig-Text {
    order: 1;
    width: 100%;
  }


}