

.BookingPage {
  min-height: 100vh;
}


.bookingPage-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 10rem;
  font-size: 1.4rem;
}


.bookingForm form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 600px;
}

.bookingFormDiv {
  display: flex;
  align-items: center;
}

.bookingForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;
  width: 48%;
}

.form {
  width: 500px;
}

.bookingForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 1.6rem;
}

.select {
  width: 100%;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: 0.2s ease;
}

.select:focus, .booking-input:focus {
  border-color: #000;
}

.bookingForm button {
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: black;
  height: 2.8rem;
  color: white;
  cursor: pointer;
}